/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&display=swap');

/*Structural CSS*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f4dfc3;
	color: rgb(17, 16, 16);
    margin:0 0 100px;
}

* {
	padding: 0;
	margin: 0;
	border: none;
}

html{
	position: relative;
	min-height:100%;
}



/*Headers Nav Bar and Footer For all Pages*/

.nav-bar {
    font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
    width: 100%;
    background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
}

#nav-bar-content li {
	display: inline-block;
	border-radius: 10px;
	margin: 8px 1vw;
}

.nav-bar a {
	color: white;
	text-decoration: none;
    font-weight: bold;
    background-color: #000000;
}

.nav-bar a:hover {
	border-bottom: 5px solid white;
}

.active {
	border-bottom: 5px solid white;
}

footer {
    background-repeat: no-repeat;
    background-color: #000000;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    position:absolute;
	left:0;
	bottom:0;
	height:50px;
	width:100%;
	overflow:hidden;
  }

.social-networks {
	clear: both;
	text-align: center;
}

.social-networks i a {
	font-size: 1em;
	margin: 20px 60px;
	color: white;
}

a:visited,
a:link {
    color:white;
}

.social-networks>li {
	display: inline;
    background-color: #000000;
    padding: 10px;
}

.social-networks p {
    font-size: 2em;
    text-align: center;
}

/*Intro Page*/

.intro {
    text-align: center;
    line-height: 2em;
    display: block;
    padding: 50px;
}

.quiz {
    text-align: center;
    line-height: 2em;
    display: block;
    padding: 40px 40px 200px 40px;
}

.quiz h2 {
    padding-top: 150px;
}

h2 {
    text-transform: uppercase;
    text-decoration: underline;
    padding: 20px;
}

.banner {
    float: left;
    display: inline-flex;
    padding: 40px 40px 100px 40px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: stretch;
    justify-content: space-evenly;
}

.stark {
    width: 60%;
    height: auto;
}

.baratheon {
    width: 60%;
    height: auto;
}

.lannister {
    width: 60%;
    height: auto;
}

.targaryen {
    width: 60%;
    height: auto;
}

.banner-throne {
    float: right;
    display: inline-flex;
    padding: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-evenly;
}


/*Quiz Page*/
/*Quiz Box */

.custom-box {
    max-width: 700px;
    background-color: #ffffff;
    margin:20px auto;
    padding: 30px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}


.home-box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box .btn {
    margin-top: 30px;
}

.home-box p span {
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 50px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    border: 1px solid #ffc107;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
  }
  
  span {
    /* background: #ffc107; */
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 800ms;
  }
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
    transform: rotate(360deg);
    background-color: #45ff07;
  }

  .quiz-box .question-number,
  .quiz-box .question-text,
  .quiz-box .option-container,
  .quiz-box .next-question-btn,
  .quiz-box .answers-indicator {
    width: 100%;
    float: left;
  }
  .quiz-box .question-number {
      font-size: 18px;
      color: #000000;
      font-weight: 600;
      border: 1px solid #cccccc;
      padding-bottom: 10px;
      line-height: 25px;
  }
  .quiz-box .question-text {
      font-size: 22px;
      color: #000000;
      line-height: 28px;
      font-weight: 400;
      padding: 20px 0;
      margin: 0;
  }
  
  .quiz-box .option-container .option{ 
      background-color: #cccccc;
      padding: 15px;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      border-radius: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      text-transform: capitalize;
      opacity: 0;
      animation: fadeIn 0.3s ease forwards;
      position: relative;
      overflow: hidden;
  }

  .quiz-box .option-container .option.already-answered {
      pointer-events: none;
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

  .quiz-box .option-container .option .correct {
      color: #ffffff;
  }

  .quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;
  }

  @keyframes slideInLeft {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(0%);
      }
  }

  .quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;
  }

  .quiz-box .option-container .option .wrong {
    color: #ffffff;
}

  .quiz-box .btn {
      margin: 15px 0;
  }

  .quiz-box .answers-indicator {
      border-top: 1px solid #cccccc;
  }

  .quiz-box .answers-indicator div{
      height: 40px;
      width: 40px;
      display: inline-block;
      background-color: #cccccc;
      border-radius: 50%;
      margin-right: 3px;
      margin-top: 15px;
  }

  .quiz-box .answers-indicator div.correct{
      background-color: green;
      background-image: url(assets/correct.png);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
  }

  .quiz-box .answers-indicator div.wrong{
    background-color: red;
    background-image: url(assets/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .result-box {
      text-align: center;
  }

  .result-box h1{
      font-size: 36px;
      line-height: 42px;
      color: #ffc107;
  }
  .result-box table {
      width: 100%;
      border-collapse: collapse;
      margin: 30px 0;
  }
  .result-box table td {
      border: 1px solid #cccccc;
      padding: 8px 15px;
      font-weight: bold;
      color: #000000;
      width: 50%;
      text-align: left;
      font-size: 18px;
  }
  .result-box .btn {
      margin-right: 20px;
  }


  .hide-instructions{
      display: none;
  }

  /* .hide-questions{
      display: none;
  } */

  .hide-result{
      display: none;
  }

  .hide {
      display: none;
  }

  /*Sign Up Page*/

  .sign-up {
    text-align: center;
    line-height: 2em;
    padding: 20px;
  }

  .form {
	width: 40%;
    min-width: 300px;
    height: auto;
	padding: 40px 20px 40px 20px;
	border-radius: 8px;
	margin: 25px auto;
	background: url(../images/throne.jpeg);
	text-align: center;
}

input[type=submit] {
	margin: 20px auto;
	padding: 0.75rem;
	background-color: #a06614;
	color: white;
	border: 1px solid #180A0A;
	border-radius: 5px;
    text-align: right;
}

input[type=text],
input[type=email] {
	height: 40px;
	width: 70%;
    padding-left: 10px;
	line-height: 2em;
	margin: 0 auto;
}

.block-label {
	display: block;
	padding: 10px;
	text-align: center;
	color: #FFFF;
	font-weight: bold;
	font-size: large;
}

.button {
	display: block;
    margin: auto;
	text-align: right;
	cursor: pointer;
    padding: 20px;
}

.dragon {
    display: none;
}

 /*Sign Up Dump Page*/

 .text-dump {
    text-align: center;
    line-height: 2em;
    padding: 20px;
 }

 .ice {
    width: 30%;
    height: auto;
}

.fire {
    width: 30%;
    height: auto;
    padding-top: 20px;
}

.fire-ice {
    display: block;
    text-align: center;
    margin: auto;
}

/* Media Queries */
/*for screens smaller than 1200px*/

/* Home Page */

@media screen and (max-width: 1200px) {

.nav-bar {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}


/* Home Page */

.banner {
    clear: both;
    display: flex;
    padding: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}

.banner-throne {
    clear: both;
    display: flex;
    padding: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}

.intro {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.stark {
    width: 100%;
    height: auto;
}

.baratheon {
    width: 100%;
    height: auto;
}

.lannister {
    width: 100%;
    height: auto;
}

.targaryen {
    width: 100%;
    height: auto;
}

.quiz {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.quiz h2 {
    padding-top: 20px;
}

/*Sign Up Page*/

.form {
    width: 60%;
}
}

@media screen and (max-width: 900px) {
    
    .nav-bar {
        background-size: 0,0;
    }

    footer {
        background-size: 0,0;
    }
}

@media screen and (max-width: 600px) {

footer {
    font-size: 1em;
}
}